.footer {
  padding: 16px 0;

  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  .footer-link {
    color: #353538;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
    white-space: nowrap;

    @media (min-width: 480px) {
      text-decoration: none;
    }
  }
}
